@model List<Products>
@Html.Partial("_imageHeader")


<div class="container mt-4">
    <h1 class="text-center">All Products</h1>
    <hr />
</div>



@Html.Partial("_productsPartialView", Model)





