<div class="container-fluid home-page-intro-div">
    <div class="container-lg home-page-intro-text d-flex align-items-center justify-content-center">      
        <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1649639520/logo_cropped_yf8pax.png" style="" class="nav-item p-2 img-header"/>    
    </div>
</div>
