@Html.Partial("_imageHeader")

<div class="container-xl mt-4 pb-4">
    <h1 class="text-center">Policies/Disclaimers</h1>
    <hr />



<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                CUSTOMER REQUESTS
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
J.R. Woodworking is committed to ensuring that customers are completely satisfied with all choices in their custom pieces. Therefore, once the customer has provided their requests (color choices, design options, etc.) J.R. Woodworking will assume that the customer is satisfied with their custom modifications. Therefore, <span class="bold-text">no refunds, returns, or exchanges will be permitted</span> as the customer's payment covers the cost of materials and time spent making the custom order. If the customer's item is damaged, or an error is present prior delivery, J.R. Woodworking will make every attempt to satisfy the customer. 
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                WOOD
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Each item from J.R.Woodworking is an original. J.R.Woodowking hand cuts, sands, stains, assembles, paints, and distresses each individual item by hand. No two items are the same. We do our best to pick out the best-looking pieces of wood. However, due to the character of wood, oftentimes knots and slight natural imperfections are present (bumps, grooves, knots, and slight indentations). <br /><br />Due to the nature of wood, <span class="bold-text">different stain and paint colors may appear slightly lighter or darker on different types of lumber.</span> Additionally, <span class="bold-text">the colors of stain and/or paint may appear lighter or darker on your computer/phone than they appear in person. </span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ITEMS
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Items listed as “Ready Today” are finished and available for delivery. Custom made-to-order items have varying turnaround times, we will always notify our customers of the current wait expectancy prior to down payment. Please note, turnaround times are only <span class="bold-text">ESTIMATES</span> and may vary. It is important the customer indicates prior to deposit submission if the item is needed by a specific date. We work on our projects in the order they were received. 
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                DEPOSIT
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                J.R. Woodworking will expect % of the total purchase upfront as a <span class="bold-text">NON-REFUNDABLE</span> deposit. This covers the cost of materials and time spent starting your item and organizing the order. The remaining balance of your purchase total is expected to be paid upon item pickup.
            </div>
        </div>
    </div>
   
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                ITEM PICK UP
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                It is the customer's responsibility to arrange to delivery/pickup for the item. J.R. Woodworking will not be held liable for any damage caused to the product after the exchange. J.R. Woodworking can deliver for an additional charge determined by mileage. J.R. Woodworking will have furniture assembled for the customer, however, it is the customer's responsibility to move the item into their home and to the desired location. If the customer would like the item to be placed in their home, store, room, or location of preference, J.R. Woodworking can do so <span class="bold-text">for a fee</span>. We are a custom manufacturer, not a moving company. <br><br>
J.R. Woodworking will hold paid custom orders for <span class="bold-text">up to 2 weeks</span> from the date of the item’s completion. It is the customer's responsibility to pick up their item in a timely fashion. We are a home-based business, <span class="bold-text">not a storage facility</span>. Therefore, we lack the space to hold multiple orders at a time. If after 2 weeks the customer has not picked up their item, J.R. Woodworking retains the right to place the product(s) for sale at a discounted price if paid partially, as a giveaway if paid in full or however J.R. Woodworking sees fit.

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                PAYMENTS
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                J.R. Woodworking accepts cash, Venmo, CashApp, and PayPal. However, digital services are preferred for down payments.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                CANCELLATIONS
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Cancellations are allowed within 24 hours from the time the down payment was received. 
            </div>
        </div>
    </div>
</div>



    @*<div class="container-sm policies-div bg-dark"><span>CUSTOMER REQUESTS</span></div>
    <p class="lead mt-4">
    We would like to thank you for allowing us at J.R. Woodworking to create your custom wood designs. We are sincerely blessed by each of you! 
    <br /><br /><span class="text-primary">CUSTOMER REQUESTS - </span>Items that are requested to have any form of customization (items not ordinarily sold in our shop) will require payment up front. Personalized items cannot be resold if the customer chooses not to pay for or pick up their item. Thus, requiring payment upfront. J.R. Woodworking is very methodical in ensuring that our customers are completely satisfied with all choices in their custom pieces. Therefore, once our customers have provided us with their requests (color choices, design options, etc.) J.R. Woodworking will assume that the customer is satisfied with their custom choices. Therefore, no refunds, returns, or exchanges will be permitted as the customer's payment covers the cost of materials and time spent making the custom order. If the customer's item is damaged, or an error is present prior to leaving J.R. Woodworking to the customer's hands, J.R. Woodworking will make every attempt to satisfy the customer. 
    <br /><br /><span class="text-primary">WOOD - </span>Please note that each item is an original; we hand cut, sand, stain, assemble, paint, and distress each individual item by hand. No two items are the same. Due to the character of wood, sometimes knots and natural imperfections are present (bumps, grooves, nicks, dents, chips, knots, and slight indentations). We do our best to pick out the best-looking pieces of wood, but we also feel that slight imperfections help add to the character of our handmade items. Therefore, we do not attempt to remove these, we simply smooth them out. If this bothers you, please let us know prior to placing your order with J.R. Woodworking that you would like an item with less natural imperfections so that we can hand-select pieces of wood that fit your needs. If you would like wood without natural imperfections, please be advised that this may prolong the building and designing timeframe for a completed item. Due to the nature of wood, the knots and grain in the wood may take to stain colors and paints differently. Some stain and paint colors may appear slightly lighter or darker depending on the nature of the wood. Additionally, please note that colors of stain and/or paint may appear lighter or darker on your computer or cell phone screens than they appear in person. 
    <br /><br /><span class="text-primary">ITEMS - </span>Some items are ready to be sold immediately and are listed in our Facebook Shop, Marketplace, or other. Made to order times have varying turnaround times, we will always notify our customers of the current turnaround time prior to the order being placed. Please note, turnaround times are only ESTIMATES and may vary. It is important the customer indicates prior to deposit submission if the item is needed by a special date or time. We work on our projects in the order they were requested. 
    <br /><br /><span class="text-primary">DEPOSIT - </span>J.R. Woodworking will expect 50% of the purchase total upfront as a NON-REFUNDABLE deposit. This covers the cost of materials and time spent starting your item or organizing the order. The remaining 50% of your purchase total is expected to be paid upon item completion. It is the customer's responsibility to arrange to pick up/deliver their item. When doing so, J.R. Woodworking is not to be held liable for any damage caused after order picks up and/or order delivery. J.R. Woodworking can deliver for an additional charge, to be determined upon mileage and possible truck rental to deliver the customer’s item. J.R. Woodworking will have furniture pre-assembled for the customer, however, it would be the customer's responsibility to move the item into their home and to its desired placement. J.R. Woodworking is not to be held liable for any damage caused once the item has been unloaded and left in the customer's possession. If the customer would like the furniture item to be assembled or placed in their home, store, room, or location of preference, J.R. Woodworking can do so upon request. J.R. Woodworking is not to be held liable for any damage caused after the item has been assembled and J.R. Woodworking has left the furniture item in the customer's possession.
    <br /><br /><span class="text-primary">BACK OF ITEMS- </span>The backs of our consoles, desks, and other similar items are sanded but are unpainted unless the customer has requested and paid for J.R. Woodworking to paint or finish.
    <br /><br /><span class="text-primary">ITEM PICK UP POLICY - </span>J.R. Woodworking will hold paid custom orders for up to 2 weeks from the date of the item’s completion. It is the customer's responsibility to pick up their item in a timely fashion. We are a home-based business and not a storage facility, therefore we lack the space to hold multiple orders at a time. If after 2 weeks you have still not picked up your item, we can research and provide you with shipping options, at the customer's expense. If you refuse to ship and are still unable to pick up your item after all reasonable attempts are made for you to retrieve your item, no refunds, returns or exchanges will be permitted as the customers payment covers the cost of materials and time spent making the custom order J.R. Woodworking then we retain the right to place the product(s) for sale at a discounted price if paid partially, as a giveaway if paid in full or however J.R. Woodworking sees fit.
    <br /><br /><span class="text-primary">PAYMENTS - </span>J.R. Woodworking accepts cash, Venmo, CashApp, and PayPal. However, online services are preferred for down payments.
    <br /><br /><span class="text-primary">CANCELLATIONS - </span>Cancellations are allowed within 24 hours from the time that the order was placed and paid and are subject to consideration for a full refund.
    <br /><br /><span class="text-primary">SATISFACTION - </span>It is J.R. Woodworking's goal to ensure that our customers get exactly what they’re requesting from us and walk away happy and pleased with a new custom decor item that they’re proud to display in their homes. If for any reason you are not 100% happy with your new item, please send J.R. Woodworking a private message and allow us the opportunity to correct any possible issues.
    </p>*@
</div>

