@*
<html>
    <head>
        <title>Buy cool new product</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section>
            <div class="product">
                <img src="https://i.imgur.com/EHyR2nP.png" alt="The cover of Stubborn Attachments" />
                <div class="description">
                    <h3>Stubborn Attachments</h3>
                    <h5>$20.00</h5>
                </div>
            </div>
            <form asp-controller="Shop" asp-action="Create"  method="POST">
                <button type="submit" id="checkout-button">Checkout</button>
            </form>
        </section>
    </body>
</html>
*@



<div class="container-md mt-3 mb-3">
    <div class="row">
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Classic Console</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">A customer favorite.</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img class="w-100 rounded-3" src="https://res.cloudinary.com/dmremrlru/image/upload/v1651365804/Products/Customer%20Views/FB_IMG_1651365606345_yndg3z.jpg" alt="">
                </div>
                <form asp-controller="Checkout" asp-action="Console">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Size</label>
                        <select name="Size" class="form-select" id="exampleSelect1">
                            <option value="45">45"x14"x34"</option>
                            <option value="60">60"x14"x34"</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (Top)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Coffee Table/End Table Set</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">Perfect for the living room.</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1651618103/Products/Customer%20Views/Furniture%202/Resized_20210712_171901_2_snizga.jpg" class="w-100 " alt="Mountains in the Clouds">
                </div>
                <form asp-controller="Checkout" asp-action="CoffeeEndTable">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (Top)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button  class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Dining Table</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">Dining Table Only (For chairs and benches please contact us through our Facebook page)</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img class="w-100 rounded-3" src="https://res.cloudinary.com/dmremrlru/image/upload/v1651365794/Products/Customer%20Views/FB_IMG_1651365542722_fdd6mq.jpg" alt="">
                </div>
                <form asp-controller="Checkout" asp-action="DiningTable">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Size</label>
                        <select class="form-select" id="exampleSelect1" disabled>
                            <option>6'L</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (Top)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button  class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Barndoor Console</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">A customer favorite.</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img class="w-100 rounded-3" src="https://res.cloudinary.com/dmremrlru/image/upload/v1665337043/Products/Customer%20Views/Furniture%202/176183932_284344633145004_4247606245864646713_n_wchhxo.jpg" alt="">
                </div>
                <form asp-controller="Checkout" asp-action="Barndoor">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Size</label>
                        <select class="form-select" id="exampleSelect1" disabled>
                            <option>5'x18"x36"</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (Top)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button  class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Desk</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">Suitable for the office and study.</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img class="w-100 rounded-3" src="https://res.cloudinary.com/dmremrlru/image/upload/v1651369953/Products/Customer%20Views/154015133_252256833020451_9003734967886412853_n_n38koc.jpg" alt="">
                </div>
                <form asp-controller="Checkout" asp-action="Desk">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Size</label>
                        <select name="Size" class="form-select" id="exampleSelect1">
                            <option value="5x28">5'x28"x32"</option>
                            <option value="5x22">5'x22"x32"</option>
                            <option value="4">4'x22"x32"</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (top)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button  class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
            <div class="card mb-5 mt-sm-4 rounded-3">
                <h3 class="card-header text-secondary">Blanket Ladder</h3>
                <div class="card-body">
                    <h6 class="mt-3 card-subtitle text-muted">Tis' the season.</h6>
                </div>
                <div class="w-100 pt-0 p-2">
                    <img class="w-100 rounded-3" src="https://res.cloudinary.com/dmremrlru/image/upload/v1651618096/Products/Customer%20Views/Furniture%202/20200920_143832_nxhrpd.jpg" alt="">
                </div>
                <form asp-controller="Checkout" asp-action="Ladder">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Size</label>
                        <select name="Size" class="form-select" id="exampleSelect1">
                            <option value="5">5'</option>
                            <option value="6">6'</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="exampleSelect1" class="form-label mt-4">Select Stain (Slats)</label>
                        <select name="Color" class="form-select" id="exampleSelect1">
                            <option value="Espresso">Espresso Stain</option>
                            <option value="Ebony">Ebony Stain</option>
                            <option value="Grey">Classic Grey Stain</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button  class="btn btn-outline-secondary rounded-1">Continue To Checkout</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>