@{
    ViewData["Title"] = "Index";
}

@Html.Partial("_imageHeader")

<div class="container-xl mt-3">
    <h1 class="text-center">About us</h1>
    <hr />
    <p style="font-size: 120%" class="text-center lead mt-4">
        Custom woodworking and carpentry services come in all shapes and sizes.  Custom built beds, barn doors, and kitchen cabinetry are some of the most common client requests we receive.  Updating kitchen cabinets with new doors and hardware is another frequent request, as well as built in shelving and storage solutions.  We have also worked on a variety of special designed furniture from a country bench seat, contemporary vanities, modern industrial wood stairs to a Russian window shutter.  With a background in architecture and design and a passion for creating beautiful wood pieces, let us help make your custom wood project idea a reality.  Please see links to my portfolio in photos below and contact us for a free estimate.
    </p>
</div>

