



@Html.Partial("_imageHeader")



<div style="height: 80vh;" class="container d-flex justify-content-center">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="card rounded shadow-lg" style="width: 35rem;">     
            <img src="https://res.cloudinary.com/dmremrlru/image/upload/v1649641268/Products/background_dwiw3c.jpg" class="card-img-top rounded-top" alt="...">
            <img style="width: 9rem; position: relative; bottom: 1.4rem; left: 1rem; border-width: .46rem; border-color: white; border-style: solid;" class="rounded-circle" src="https://res.cloudinary.com/dmremrlru/image/upload/v1649642281/Products/profile_pic_zzsuaj.jpg"/>
            <div class="card-body d-flex flex-column justify-content-center">
                <h3 class="card-title"><span class="bold-text">Facebook Page</span></h3>
                <hr />
                <p class="card-text">Please visit our Facebook page to message us through Facebook Messenger. You can also reach out to us at: <br />(806)239-7750 <br />j.r.woodworking@protonmail.com</p>
                <a href="https://www.facebook.com/JamesReedWoodworking" class="btn btn-outline-primary">Facebook Page</a>
            </div>
        </div>
    </div>
</div>

